html {
  height: 100%;
}

body {
  font-family:Comic Sans MS;
  margin: 0px;
  height: 100%;
  background: url(numbers.jpg) repeat;
}

.page {
  display: flex;
  justify-content: center;
  height: 100%;
}

.display-answer {
  border: 3px solid rgb(240, 240, 240);
  border-bottom: 2px solid rgb(31, 30, 30);
  border-left: 2px solid rgb(31, 30, 30);
  border-collapse: collapse;
  padding: 10px;
  height: 70px;
  background-color: #131212;
  text-align: right;
  color: rgb(238, 238, 238);
}

.display-value {
  border: 3px solid rgb(240, 240, 240);
  border-right: 2px solid rgb(31, 30, 30);
  border-top: 2px solid rgb(31, 30, 30);
  border-collapse: collapse;
  padding: 10px;
  height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #252524;
  text-align: left;
  color: rgb(240, 240, 240);
}

table {
  border: 4px solid rgb(70, 48, 6);
  table-layout: fixed;
  margin: auto;
  width: 320px;
  height: -webkit-fill-available;
  background-color: rgb(94, 91, 91);
  overflow-y: hidden;
}

td.item {
  border: 2px solid rgb(243, 240, 240);
  border-top: 2px solid black;
  border-right: 2px solid black;
  text-align: center;
  width: auto;
  background-color: #eef1f1;
  cursor: pointer;
}

.operator {
  background-color: #dbd2d2;
  color: black;
  border: 2px solid rgb(243, 240, 240);
  border-top: 2px solid black;
  border-right: 2px solid black;
  text-align: center;
  width: auto;
  cursor: pointer;
}

.delete {
  background-color: rgb(226, 87, 87);
  color: white;
  border: 2px solid rgb(243, 240, 240);
  border-top: 2px solid black;
  border-right: 2px solid black;
  text-align: center;
  width: auto;
  cursor: pointer;
}

.equals {
  background-color: rgba(87, 204, 63, 0.6);
  color: rgb(226, 221, 221);
  border: 2px solid rgb(243, 240, 240);
  border-top: 2px solid black;
  border-right: 2px solid black;
  text-align: center;
  width: auto;
  cursor: pointer;
}
